button {
  border: none;
  padding: 10px;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  min-width: 40px;
  transition: 1s;
}

#author {
  text-align: right;
}

#new-quote {
  position: absolute;
  right: 30px;
}

#new-quote:focus {
  outline: none;
}

#tumblr-button {
  margin-left: 10px;
}

#wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

#quote-box {
  border: solid 1px;
  padding: 30px;
  position: relative;
  background-color: rgb(241, 245, 220);
  border-radius: 5px;
}

@media (min-width: 1200px) {
  #quote-box {
    width: 40%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  #quote-box {
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #quote-box {
    width: 60%;
  }
}

@media (min-width: 567px) and (max-width: 768px) {
  #quote-box {
    width: 75%;
  }
}

@media (max-width: 567px) {
  #quote-box {
    width: 80%;
  }
}
